
  <!-- Top nav bar (fixed) -->

  <header class="main-header">
  <nav class="navbar">
    <form method="GET" action="/"><button class="restaurant-icon"><img class="restaurant-icon" src='/images/restaurant.png'></i></button></form>
    <form method="GET" action="/api/orders/checkout"><button id="cart-icon"><i class="fas fa-shopping-cart"></i></button></form>
    <% if (!user) { %>
    <form method="GET" action="/api/users/login"><button id="login"> LOG IN </button></form>
    <%} else { %>
      <p>ksdljshdjshdj</p>
      <% } %>
  </nav>

    <div>
      <img id="restaurant_main_image" src="/images/restaurant_main.png">
      <h1>SUMMER'S
        <br> RESTAURANT</h1>
    </div>
  </header>


