  <!-- Top nav bar (fixed) -->
  <nav class="navbar">
    <form method="GET" action="/"><button><i id="restaurant-icon" class="fas fa-utensils"></i></button></form>
    <form method="GET" action="/api/users/login" id="login"><button> LOG IN </button></form>
    <form method="GET" action="/api/users/cart"><button><i id="cart-icon" class="fas fa-shopping-cart"></i></button></form>
  </nav>

  <header class="main-header">
    <div>
      <img id="restaurant_main_image" src="/images/restaurant_main.png">
      <h1>SUMMER'S RESTAURANT</h1>
    </div>
  </header>
