
  <!-- Top nav bar (fixed) -->

  <header class="main-header">
  <nav class="navbar">
    <form method="GET" action="/"><button class="restaurant-icon"><img class="restaurant-icon" src='/images/restaurant.png'></i></button></form>
    <% if (!user) { %>
    <form method="GET" action="/api/users/login"><button class="nav-button"> LOGIN </button></form>
    <% } %>
    <% if (user === 1) { %>
     <form method="GET" action="/api/orders/dashboard"><button class="nav-button">Dashboard</button></form>
     <form method="GET" action="/api/orders/checkout"><button id="cart-icon"><i class="fas fa-shopping-cart"></i></button></form> <span id="cartID"> <%=locals.cart ? locals.cart :0%></span>
     <form method="GET" action="/api/users/logout"><button class="nav-button">Logout</button></form>
    <%} %>
    <% if (user && user !== 1) {%>
      <form method="GET" action="/api/orders/<%= user %>/orders"><button class="nav-button">Dashboard</button></form>
      <form method="GET" action="/api/orders/checkout"><button id="cart-icon"><i class="fas fa-shopping-cart"></i></button></form> <span id="cartID"> <%=locals.cart ? locals.cart :0%></span>
      <form method="GET" action="/api/users/logout"><button class="nav-button">Logout</button></form>

    <% } %>
  </nav>

    <div>
      <img id="restaurant_main_image" src="/images/restaurant_main.png">
      <h1>SUMMER'S
        <br> RESTAURANT</h1>
    </div>
  </header>


