<!-- main menu -->
<section>
<div class="menu">
  <a href="/api/categories/main"><h2>MAIN MENU</h2> </a>
<ul>
<a class="food-link" href="/api/categories/apps"><ul><h3>Appetizers</h3></ul></a>
<a class="food-link" href="/api/categories/dinner"><ul><h3>Dinner</h3></ul></a>
<a class="food-link" href="/api/categories/desserts"><ul><h3>Desserts</h3></ul></a>
<a class="food-link" href="/api/categories/drinks"><ul><h3>Drinks</h3></ul></a>
</ul>
</div>
</section>
