<!-- main menu -->
<section class="menu">
<h2>MAIN MENU</h2>
<a class="food-link" href="/api/categories/apps"><ul><h3>Appetizers</h3></ul></a>
<a class="food-link" href="/api/categories/dinner"><ul><h3>Dinner</h3></ul></a>
<a class="food-link" href="/api/categories/desserts"><ul><h3>Desserts</h3></ul></a>
<a class="food-link" href="/api/categories/drinks"><ul><h3>Drinks</h3></ul></a>
</section>
