<html lang="en">
<!DOCTYPE html>

<head>
  <!-- Meta Information -->
  <title>Summer's Restaurant</title>
  <!-- App CSS -->
  <link rel="stylesheet" href="/styles/layout.css" type="text/css" />
  <link rel="stylesheet" href="/styles/menu-sidebar.css" type="text/css" />
  <link rel="stylesheet" href="/styles/login.css" type="text/css" />
  <!-- ICONS -->
  <script src="https://kit.fontawesome.com/3254a5221a.js" crossorigin="anonymous"></script>

</head>

<body>
  <%- include('partials/_header') %>

    <!-- Page-specific (main) content here -->

    <main>
      <!-- main menu -->
      <div class="menu-display">
        <%- include('partials/_menu') %>
          <div class="login">
            <h3 id="login-text">Login</h3>

            <div>
              <form method="POST" action="/api/users/login">
                <label for="email">Enter an email:</label>
                <input type="text" name="email" placeholder="Enter an email" style="width: 300px; margin: 2em">
                <br>
                <label for="password">Enter a password:</label>
                <input type="password" name="password" placeholder="Enter a password" style="width: 300px; margin: 1em">
                <br>
                <button type="submit" class="login-button">Login</button>
              </form>
            </div>
          </div>
      </div>
    </main>
</body>

</html>
