<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Meta Information -->
    <title>Summer's Restaurant</title>
    <!-- App CSS -->
    <link rel="stylesheet" href="/styles/layout.css" type="text/css" />
    <link rel="stylesheet" href="/styles/menu-sidebar.css" type="text/css" />
    <link rel="stylesheet" href="/styles/login.css" type="text/css" />

    <!-- ICONS -->
    <script
      src="https://kit.fontawesome.com/3254a5221a.js"
      crossorigin="anonymous"
    ></script>
  </head>

  <body>
    <%- include('partials/_header') %>

    <!-- Page-specific (main) content here -->
    <main>
      <!-- main menu -->
      <div class="menu-display">
        <%- include('partials/_menu') %>

        <section class="submit">
          <h3 class="h3-title">Order Submitted</h3>
          <p id="wait-message">
            Please wait while the restaurant confirms your order.
          </p>
          <% if (submitOrders) { %>
          <form
            method="GET"
            action="/api/orders/<%=submitOrders[0].user_id%>/orders?"
          >
            <button class="login-button">Check Your Orders</button>
            <% } %>
          </form>
        </section>
      </div>
    </main>
  </body>
</html>
