// See: https://sass-lang.com/

// header
.navbar{
  border: none;
  background: #ffffff;
  padding: 15px 0;
  border-radius: 0;
  margin-bottom: 0;
	position: fixed;
	width: 100%;
  top: 0;
  z-index:10;

  .restaurant-icon {
    height: 50px;
    width: 50px;
    padding: 30px;
    margin-left: 10px;
    font-size: 24px;
    padding: 0;
    border: none;
    background: none;
    float: left;
  }

  #login {
    font-size: 24px;
    height: 50px;
    border: none;
    background: none;
    float: left;
    margin-left: 20px;
    font-family: antonio;
  }

  #cart-icon {
    border: none;
    font-size: 24px;
    height: 50px;
    background: none;
    float: right;
    margin-right: 50px;
  }
}


#restaurant_main_image {
  width: 100%;
  opacity: 80%;
  margin-top: 90px;
}

h1 {
  font-size: 50px;
  position:absolute;
	left:35%;
	top:30%;
  font-family: abril Fatface;
  font-weight: bold;
  color: #ffffff;
  margin: 10px;
  letter-spacing: 3px;
  display: flex;
  align-items: center；
}


.menu {
  border: solid black;
  list-style: none;
  margin: 10px;
  width: 250px;
  display: inline-block;
  text-align: center;
  margin-left: 10px;
  display: inline-block;
  padding: 10px;
  margin: 20px;

  ul{
    list-style: none;
    text-align: left;
    margin: 0;
    margin-right: 100px;
    line-height: 2;
    color: black;
  }
}

#intro_image {
  width: 100%;
  opacity: 80%;
  margin-top: 90px;
}

.intro_message {
  font-size: 20px;
  color:black;
  margin: 10px;
  margin-right: 30px;
  letter-spacing: 3px;

  // background-image: url("../public/images/intro.png");
  // background-repeat: no-repeat;
  // background-position: center;
  // background-attachment:fixed;
}

.food-menu {
  border: solid black;
}
