// See: https://sass-lang.com/

// header

button:focus{
	outline: none;
}

button:hover {
  border: none;
  cursor: pointer;
}

.restaurant-icon:hover {
  border: none;
  box-shadow: none;
  cursor: pointer;
}

.navbar{
  border: none;
  background: #ffffff;
  padding: 15px 0;
  border-radius: 0;
  margin-bottom: 0;
	position: fixed;
	width: 100%;
  top: 0;
  z-index:10;

  .quantity {
    font-size: 20px;
    height: 50px;
    border: none;
    background: white;
    float: right;
    padding: 10px;
    padding-right: 0;
    font-family: Bebas Neue;
    margin: 3px;
  }

  .nav-text {
    font-size: 22px;
    font-family: Orbitron;
    margin-left: 75px;
    margin-top: 0;
  }

  #cart-icon {
    border: none;
    font-size: 24px;
    height: 50px;
    background: none;
    float: right;
    margin-right: 50px;
    padding-left: 0;
  }

  .restaurant-icon {
    height: 50px;
    width: 50px;
    padding: 30px;
    margin-left: 10px;
    font-size: 24px;
    padding: 0;
    border: none;
    background: none;
    float: left;
  }


  .nav-button {
    font-size: 25px;
    height: 50px;
    border: none;
    border-bottom: solid black;
    background: white;
    float: right;
    padding: 10px;
    margin-right: 50px;
    font-family: Bebas Neue;
  }
}


#restaurant_main_image {
  width: 100%;
  opacity: 70%;
  margin-top: 90px;
}

#restaurant_main_image:hover {
  opacity: 90%;
}

h1 {
  font-size: 70px;
  position:absolute;
	left:20%;
	top:35%;
  font-family: Dancing Script;
  font-weight: bold;
  color: white;
  margin: auto;
  letter-spacing: 3px;
  display: flex;
  align-items: center；
}


.menu-display {
  display: flex;

    .intro {
      position: relative;
      #intro_image {
        display: block;
        width: 100%;
        opacity: 90%;
        height: auto;
      }
      #intro-message {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        height: 100%;
        width: 100%;
        opacity: 1;
        font-family: Bebas Neue;
        transition: .5s ease;
      }
    }

    .intro:hover #intro-message {
      opacity: 1;
    }

    .intro-text {
      color: black;
      font-size: 20px;
      position: absolute;
      top: 40%;
      left: 50%;
      -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
      transform: translate(-50%, -50%);
      padding: 40px;
      padding-top: 20px;
      text-align: center;
      background-color: rgba(255,255,255,0.7);
    }
    #welcome {
      font-size: 50px;
    }
}

.h3-title {
  text-align: center;
  font-size: 30px;
}

.each-order {
  border: solid black;
  padding: 10px;
  margin: 10px;
}

#order-confirm {
  font-weight: bold;
  color: rgb(16, 90, 16);
}

#order-pending {
  font-weight: bold;
  color: red;
}


/* Desktop */
@media only screen and (min-width: 1024px) {
  #restaurant_main_image {
    width: 90%;
    text-align: center;
    opacity: 70%;
    margin-top: 90px;
    display: flex;
    margin-left: auto;
    margin-right: auto;
  }

  h1 {
    font-size: 70px;
    position:absolute;
    left:30%;
    top:40%;
    margin: auto;
    display: block;
    font-family: Dancing Script;
    font-weight: bold;
    color: white;
    margin: auto;
    letter-spacing: 3px;
    display: flex;
    align-items: center；
  }
  .menu-display {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 90%;
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;

      .intro {
        position: relative;
        #intro_image {
          display: block;
          width: auto;
          opacity: 90%;
          height: auto;
          margin-left: auto;
          margin-right: auto;
        }
      }
    }
 }

