.login {
  margin: 50px;
  font-family: Orbitron;
  border: solid black;
  padding: 30px;
  display: block;
  width: 100%;
  height: auto;
  #login-text {
    font-size: 30px;
    font-family: Orbitron;
  }
}

.login-button {
  font-size: 25px;
  height: 40px;
  margin-top: 30px;
  border: solid black;
  background: white;
  padding: 5px;
  font-family: Bebas Neue;
}
